{{<layout}}
  {{$title}}Class {{query}}{{/title}}
  {{$content}}
    {{#javaClass}}
      {{>fullClass}}
    {{/javaClass}}
    {{^javaClass}}
      class not found: {{query}}
    {{/javaClass}}
  {{/content}}
{{/layout}}
