{{<layout}}
  {{$title}}
    {{#object}}
      Object at {{idString}}
    {{/object}}
    {{^object}}
      Debug
    {{/object}}
  {{/title}}
  {{$content}}
    {{#object}}{{>javaThing}}{{/object}}
  {{/content}}
{{/layout}}
