{{#validId}}
  <h2>References to this object:</h2>
  {{#referrers}}
    <div>{{#thing}}{{>javaThing}}{{/thing}} : {{description}}</div>
  {{/referrers}}

  <h2>Other Queries</h2>
  Reference Chains from Rootset

  <ul>
    <li><a href="/roots/{{hexId}}">Exclude weak refs</a></li>
    <li><a href="/roots/{{hexId}}?weak=true">Include weak refs</a></li>
  </ul>

  <div><a href="/reachableFrom/{{hexId}}">Objects reachable from here</a></div>
{{/validId}}
