{{<layout}}
  {{$title}}{{title}}{{/title}}
  {{$content}}
    {{#classes}}
      {{instancesCountWithoutSubclasses}}
      <a href="/instances/{{urlEncodedId}}">{{instancesCountWithoutSubclassesLabel}}</a>
      {{#hasNewSet}}(<a href="/newInstances/{{urlEncodedId}}">{{instancesWithoutSubclasses}} new</a>){{/hasNewSet}}
      of {{>class}}
      <br />
    {{/classes}}

    <h2>Total of {{instances}} instances occupying {{totalSize}} bytes.</h2>
    <h2>Other Queries</h2>

    <ul>
      {{#excludePlatform}}
        <li><a href="/showInstanceCounts/includePlatform/">Show instance counts for all classes (including platform)</a></li>
      {{/excludePlatform}}
      {{^excludePlatform}}
        <li><a href="/showInstanceCounts/">Show instance counts for all classes (excluding platform)</a></li>
      {{/excludePlatform}}
      <li><a href="/allClassesWithPlatform/">Show All Classes (including platform)</a></li>
      <li><a href="/allClasses/">Show All Classes (excluding platform)</a></li>
    </ul>
  {{/content}}
{{/layout}}
