{{<layout}}
  {{$title}}{{title}}{{/title}}
  {{$content}}
    {{#breadcrumbs}}{{>breadcrumbs}}{{/breadcrumbs}}
    {{#objects}}
      <div>{{>javaThing}}</div>
    {{/objects}}

    <h2>Total of {{numInstances}} instances occupying {{totalSize}} bytes.</h2>
  {{/content}}
{{/layout}}
