<html>
  <head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <title>{{$title}}fasthat{{/title}}</title>
    {{$head}}{{/head}}
  </head>

  <body>
    {{$content}}{{/content}}
  </body>
</html>
