{{#stackTrace}}
  <a href="/rootStack/{{hexIndex}}">{{description}}</a>
{{/stackTrace}}
{{^stackTrace}}
  {{description}}
{{/stackTrace}}

{{#referer}}
  <small> (from <a href="/object/{{hexId}}">{{toString}}</a>)</small>
{{/referer}}
