{{<layout}}
  {{$title}}Server Not Ready{{/title}}

  {{$content}}
    {{#loadingSnapshot}}
      {{#memoryUsage}}
        <p>
          <b>Heap Utilization:</b> {{usedMemory}} / {{totalMemory}} ({{percentMemoryUsed}})
        </p>
      {{/memoryUsage}}

      {{#loadProgress}}
        <p>
          {{loadString}}
        </p>
      {{/loadProgress}}

      <meta http-equiv="refresh" content="1" />
    {{/loadingSnapshot}}
    {{^loadingSnapshot}}
      {{#heapFiles}}
        <form method="POST" action="/loadDump/?dump={{#urlEncode}}{{{toString}}}{{/urlEncode}}">
          {{toString}} <input type="submit" value="Load" />
        </form>
      {{/heapFiles}}
    {{/loadingSnapshot}}
  {{/content}}
{{/layout}}
